<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43153164075-nqcmqa4sbaqnt86tilcl12rt5tdeipkv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43153164075-nqcmqa4sbaqnt86tilcl12rt5tdeipkv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>43153164075-6pv39oeqp9aoaau9fjcm7k69p725712q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCmAxQM6b4gqtaahk6_e5ZSMcTY0aJdwUk</string>
	<key>GCM_SENDER_ID</key>
	<string>43153164075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sorianaTracker</string>
	<key>PROJECT_ID</key>
	<string>soriana-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>soriana-tracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43153164075:ios:5256a599d3ded54040276e</string>
</dict>
</plist>